<form action="/logout" method="get">
  <input type="submit" value="Logout" name="Logout" id="Logout" />
</form>
<div class='navigation' ng-controller='LinksController'>
  <ul>
    <li><a href="#/links" class='index' ng-click='testing()'>All Links</a></li>
    <li><a href="#/shorten" class='create' >Shorten</a></li>
  </ul>
</div>


<div id='container' ng-controller='LinksController' ng-init="" ng-repeat="link in data.links">
  <img src='../assets/redirect_icon.png'/>
  <div class='link'>
    <div class="visits"><span class='count'>{{ link.visits }}</span>Visits</div>
    <div class='title'>{{ link.title }}</div>
    <div class='original'>{{ link.url }}</div>
    <a href='{{ link.base_url }}/{{ link.code }}'>{{ link.base_url }}/{{ link.code }}</a>
</div>